services:
  server:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "25575:25575"
    environment:
      EULA: "TRUE"
      MAX_MEMORY: "4G"
      INIT_MEMORY: "2G"
      VERSION: "1.21.11"
      JVM_OPTS: "-XX:+UseContainerSupport -Dlog4j.configurationFile=/log4j_conf/log4j_bridge.xml"
      RCON_PASSWORD: "${RCON_PASSWORD}"
      ENABLE_RCON: "true"
      GAMEMODE: "creative"
    volumes:
      - ./mcs-data:/data
      - log4j_conf:/log4j_conf
  
  mcs-bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - log4j_conf:/log4j_conf
      - ./bot-data:/data

volumes:
  log4j_conf: